<% content_for :title, "Home | SOS Bracelets" %>
 <div class="container" style="padding-top: 37px;">
  <div class="row">
    <div class="col-md-12 no-pad-xs" style="padding:2em;background: #52BE80; font-weight:bold; color: white;border-radius:1em;">
      <center>
        <h3>This will the Web-Site Main Web Page.</h3>
        <h3>If You want to show Some specific content here You can tell Us. We will add that</h3>
        <h3>Like Any Image/Video/Text that willl attract people</h3>
        <h3>Or else Login Page can be displayed here</h3>
      </center>

      <!-- <div class="pull-left" id="profile-lookup" style="background: #52BE80;">
        <div class="lookup-lockup">
          <div id="staroflife"></div>
          <br><span class="lookup">First Responder Login</span>
        </div>
        <div class="lookup-form-container">
          <form accept-charset="UTF-8" class="form-horizontal" method="post" role="form">
            <div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">ID</span>
              <input class="form-control" id="id" maxlength="8" name="id" pattern="\d*" placeholder="xxxxxxx" title="xxxxxxx" type="tel">
            </div>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">PIN</span>
              <input class="form-control" id="pin" maxlength="5" name="pin" pattern="\d*" placeholder="xxxx" title="xxxx" type="tel">
            </div>
            <input class="btn graylion btn-block" name="commit" value="Submit" type="submit">
            <br class="visible-xs">
          </form>
        </div>
      </div> -->
      <div class="hidden-xs"></div>
    </div>
  </div>
</div>
