<div class="row">
  <div class="col-md-3" style="background-color:#229954;color:#F0F0F0;">
    <div class="btn-group">
        <h5 class="btn" style="font-family: 'Merriweather', serif;margin:0px 0px 0px 0px;padding-top:15px;text-align:center;float:left;font-size: 1.2em;border-color: #229954; border-radius:0px 0px 0px 0px;color:#F0F0F0;">Emergency Contacts</h5>
    </div>
  </div>
  <div class="col-md-9">
  </div>
</div>
<div class="row jumbotron" style="border-top-left-radius: 0px;border-top-right-radius: 0px;padding:0px;">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="th_bg supervisor_thead">
        <tr>
          <th scope="col"><center> Name </center></th>
          <th scope="col"><center> Number </center></th>
          <th scope="col"><center> Relation </center></th>
          <th scope="col"><center> Email </center></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |c|%>
          <tr>
            <td><%= label_tag :name, c.name, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
            <td><%= label_tag :number, c.number, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
            <td><%= label_tag :relation, c.relation, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
            <td><%= label_tag :email, c.email, {class: "form-control my_text_field", style:"color: #1E8449;height:auto;"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
